<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nean.notes.mapper.UserMapper">

    <select id="queryByUsernameOrEmail" parameterType="cn.nean.notes.model.dto.AccountDto" resultType="cn.nean.notes.model.pojo.User">
        SELECT
            *
        FROM
            `user`
        <where>
            <if test="account.username != null">
                username = #{account.username}
            </if>
            <if test="account.email != null">
                AND email = #{account.email}
            </if>
        </where>
    </select>
</mapper>